<mat-card>
  <mat-card-header>
    <mat-card-title><u>Registrar puntos</u></mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <div id="form-container">
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Longitud</mat-label>
        <input
          matInput
          type="number"
          [value]="coordinates.lng"
          [(ngModel)]="coordinates.lng"
        />
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Latitud</mat-label>
        <input
          matInput
          type="number"
          [value]="coordinates.lat"
          [(ngModel)]="coordinates.lat"
        />
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <h1 *ngIf="formLoading === true">Cargando</h1>
    <button mat-button (click)="handleSaveCoordinates()" *ngIf="formLoading === false">Guardar</button>
  </mat-card-actions>
</mat-card>
