<mat-toolbar>
  <span>Prueba ecotierra</span>
</mat-toolbar>





<div id="container">
  <div id="panels">
    <button mat-button (click)="setSection('maps')" color="{{section === 'maps' ? 'primary' : 'default' }}" >Mapas</button>
    <button mat-button (click)="setSection('lists')" color="{{section === 'lists' ? 'primary' : 'default' }}" >Lista</button>
  </div>
  <div id="content">
    <div class="row" *ngIf="section==='maps'">
      <div class="column">
        <app-point-register></app-point-register>
      </div>
      <div class="column" style="width: 100%;">
        <app-map></app-map>
      </div>
    </div>


    <div *ngIf="section==='lists'" >
      <div style="display: flex;flex-direction: column; align-items: flex-end;">
        <button mat-icon-button (click)="setShowForm(!showForm)">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="{{showForm === false ? 'add' : 'minimize'}}"></mat-icon>
          
        </button>
      </div>
      <div *ngIf="showForm" style="display: flex;flex-direction: column; align-items: flex-end;">
        <div class="row">

        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Mi menu" [(ngModel)]="menu.name">
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Url</mat-label>
            <input matInput placeholder="Mi url" [(ngModel)]="menu.url">
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Mi descripción" [(ngModel)]="menu.description">
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Icon</mat-label>
            <input matInput placeholder="Mi icono" [(ngModel)]="menu.icon">
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Padre</mat-label>
            <mat-select [(ngModel)]="menu.menu_id">
              <mat-option *ngFor="let parent of allMenus" [value]="parent.id" >{{parent.name}} - {{parent.id }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
       
      </div>
      <button 
      mat-raised-button (click)="saveMenu()" color="primary" >{{formMode === 'create' ? 'Crear' : 'Editar'}} Menu</button>
      
      
      
      </div>
      <div class="row">
        <div class="column">
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="clickMenu(node.description)">
              <button mat-icon-button disabled ></button>
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="{{node.icon}}"></mat-icon>
              {{node.name}} url ({{node.url}})
              <button mat-icon-button (click)="setMenu(node)" >

                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
              </button>

            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>

              </button>
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="{{node.icon}}"></mat-icon>

              {{node.name}}
              <button mat-icon-button  (click)="setMenu(node)">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>

              </button>


            </mat-tree-node>
          </mat-tree>
        </div>
        <div class="column">
          <div id="description" *ngIf="descriptionMenu !== ''">
            {{descriptionMenu}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
